* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-image: url(../images/Image.jpg);
    height: 807px;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1366px;
    margin: 0 auto;
    height: 100%;
}

.nav {
    height: 90;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.685);
    z-index: 2;
}

.nav a {
    color: white;
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.685);
    padding-bottom: 33px;
    padding-top: 35px;
}

.nav a span {
    color: red;
}

.nav ul {
    display: flex;
    margin: 33px 0;
}

.nav ul a {
    padding: 20px;
    font-size: 16px;
}

header .container {
    background-color: rgba(0, 0, 0, 0.418);
    z-index: 1;
}

header .nav {
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 1;
}

.banner {
    color: white;
    text-align: center;
    width: 917px;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.banner p {
    font-weight: bold;
    line-height: 1.3em;
}

h1 {
    font-size: 90px;
    line-height: 123px;
    margin-bottom: 33px;
}

.banner button {
    padding: 23px 51px;
    border: 2px solid white;
    background-color: white;
    color: red;
    border-radius: 40px;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.banner button:first-child {
    color: white;
    background-color: red;
    border: 1px solid red;
    margin-right: 25px;
}

.arrow img::after {
    content: "";
    contain: "";
}

.arrow {
    background-color: red;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border-radius: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: -207px;
    right: -47%;
}

.blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.blog h2::after {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 4px;
    width: 50px;
    position: relative;
    bottom: 20px;
    right: -750px;
}

.blog h2::before {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 3px;
    width: 50px;
    position: relative;
    bottom: -20px;
    right: -570px;
}

.blog .box {
    width: 352px;
    margin: 10px;
}

.blog .box img {
    max-width: 100%;
    margin: 0 auto;
    height: 234px;
    margin-bottom: 25px;
}

.blog h2 {
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 150px;
    text-align: center;
    font-size: 35px;
    padding-top: 91px;
    margin-bottom: 35px;
    font-weight: bold;
}

.blog .box {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
}

.blog h3 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: left;
}

.blog input {
    margin-top: 26px;
    padding: 10px 29px;
    background-color: red;
    color: white;
    border-radius: 40px;
    width: 152px;
    box-shadow: 0px 3px 6px #FF00004D;
    margin-bottom: 110px;
}

.service {
    background-color: #28272C;
    height: 643px;
    margin-bottom: 70px;
}

.service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.service h2::after {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 4px;
    width: 50px;
    position: relative;
    bottom: 20px;
    right: -770px;
}

.service h2::before {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 3px;
    width: 50px;
    position: relative;
    bottom: -20px;
    right: -540px;
}

.service .box {
    width: 231px;
    margin: 10px;
    color: white;
}

.service .box img {
    max-width: 100%;
    margin: 0 auto;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.service h2 {
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 150px;
    text-align: center;
    font-size: 35px;
    padding-top: 61px;
    font-weight: bold;
    color: white;
}

.service .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}

.service h3 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.service input {
    margin-top: 26px;
    padding: 10px 29px;
    background-color: red;
    color: white;
    border-radius: 40px;
    width: 152px;
    box-shadow: 0px 3px 6px #FF00004D;
    margin-bottom: 140px;
}

.contact {
    display: block;
    width: 1004px;
    margin: 0 auto;
    margin-bottom: 70px;
}

section.contact h2 {
    display: block;
    width: 100%;
    flex-grow: 1;
    height: 150px;
    text-align: center;
    font-size: 35px;
    padding-top: 61px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.contact h2::after {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 4px;
    width: 50px;
    position: relative;
    bottom: 20px;
    right: -590px;
}

.contact h2::before {
    content: "";
    contain: "";
    background-color: red;
    display: block;
    height: 3px;
    width: 50px;
    position: relative;
    bottom: -20px;
    right: -355px;
}

.contact__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__banner {
    display: block;
    width: 350px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Form\ Photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: stretch;
    margin-top: -60px;
    margin-right: 25px;
}

.form {
    display: block;
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: #B2B2B2;
}


/* TODO :: */

.form input {
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #B2B2B2;
    color: #B2B2B2;
}

.form input:focus {
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid red;
    color: #B2B2B2;
}

.form input::placeholder {
    color: #B2B2B2;
}

.form_agree p {
    font-size: 10px;
    width: 90%;
    padding-left: 35px;
    margin-bottom: 70px;
}

.form_agree {
    display: flex;
    position: relative;
}

.form p::before {
    content: " ";
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid red;
    position: absolute;
    left: 0px;
}

.form input:checked+p::before {
    background-image: url(../images/Icon\ Check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 128, 0, 0.342);
    border: 2px solid green;
}

.form textarea {
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #B2B2B2;
    color: #B2B2B2;
}

.form input:last-child {
    border: 1px solid red;
    background-color: white;
    color: red;
    padding: 11px 42px;
    max-width: 142px;
    border-radius: 45px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-weight: bold;
}

#offline {
    opacity: 0;
    height: 0px;
    width: 0px;
}

footer {
    height: 272px;
    background-color: #28272C;
}

footer .container {
    width: 1366px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer_logo {
    width: 100%;
    flex-grow: 1;
    margin-left: 150px;
    font-size: 25px;
}

.footer_logo a span {
    color: red;
}

.footer_nav {
    margin-left: 140px;
    margin-bottom: 20px;
}

.footer_nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
}

.footer_nav ul li {
    display: block;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

footer li:first-of-type {
    color: red;
}

.footer_copyright {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    padding-bottom: 40px;
    margin-right: 20px;
}

input[type=button] {
    cursor: pointer;
}